*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}

/*NAVBAR CSS*/
.navbar-container{
    height: 80px;
    width: 100%;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
/* .logo > img{
    height: 50px;
    width: 50px;
} */
.logo{
    font-weight: 750;
    font-size: 30px;
}
.nav-links > a{
    margin: 5px 10px;
    font-weight: 550;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.2s;
}
.nav-links > a:hover{
    background-color: white;
    color: black;
}


